ENV="xxxxx"
LOG_LEVEL="xxxx"

APP__NAME="xxxx"
APP__VERSION="xx"
APP__HOST="xxxxxxxxxx"
APP__PORT=xxxx
APP__DESCRIPTION="xxxxxxx"

DATABASE__NAME="xxxxxxxx"
DATABASE__HOST="xxxxxxxxx"
DATABASE__PORT=xxxxx
DATABASE__USER="xxxxx"
DATABASE__PASSWORD="xxxxxxxx"

